
body {
    background-color: #143E8D;
    color: #000000;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
}
.wrapper {
    margin-bottom: 10px;
    padding-bottom: 10px;
}
a:link, a:visited {
    color: #C24622;
    text-decoration: none;
}
a:hover {
    border-bottom: medium none;
}
blockquote {
    color: #888888;
    font-family: Times;
    font-size: 1.2em;
    font-style: italic;
}
.footer a:link, .footer a:visited {
    border: medium none;
    color: #313131;
}
.footer a:hover {
    color: #003366;
}
.main a:link, .main a:visited {
}
.main a:hover {
    border-bottom: medium none;
}
a img {
    border: medium none;
}
.header {
    background-color: #FFFFFF;
}
.header .block1 {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.header .container {
    border-top: medium none;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 887px;
}
.footer {
    background-color: #F0871E;
    background-position: center center;
    background-repeat: no-repeat;
    color: #313131;
    font-size: 0.95em;
    padding: 0;
}
.footer .container table {
    margin-bottom: 0;
}
.top {
    background-color: #F38D1E;
    padding: 0;
}
.main {
    background-color: #FFFFFF;
    padding-bottom: 0;
}
.subfooter {
    float: left;
    font-size: 0.9em;
    padding: 10px 0;
    width: 100%;
}
.logo {
    color: #FFFFFF;
    float: left;
    margin: 0 0 5px;
    width: auto;
}
.logo a, .logo_image a {
    border: medium none;
    color: #FFFFFF;
}
.logo_image {
    float: left;
    padding: 20px 0 0 70px;
    width: auto;
}
.container {
    width: 887px;
}
.main .container {
}
.top .container {
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    height: 142px;
    width: 1031px;
}
.footer .container {
    background-image: url("../images/footer.png");
    background-position: center center;
    background-repeat: no-repeat;
    width: 920px;
}
.footer, .footer .container {
    padding: 0;
}
h1, h2, h3, h4, h5, h6, .contentheading, .componentheading {
    color: #111111;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}
h1 {
    color: #000000;
    font-size: 3em;
}
h2 {
    color: #444444;
    font-size: 2.5em;
}
h3, .contentheading {
    cursor: default !important;
    font-size: 1.8em;
    font-style: inherit;
    font-weight: lighter;
    letter-spacing: 1px;
    line-height: 1em;
    margin: 0.3em 0;
}
h4, .componentheading {
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em;
}
h5 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
}
h6 {
    font-size: 1em;
    font-weight: bold;
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
    margin: 0;
}
.small {
    font-size: 0.8em;
    line-height: 1.875em;
    margin-bottom: 1.875em;
}
.centered {
    text-align: center;
}
.componentheading {
    margin: 0.3em 0;
}
.header h1, .header h2, .header h3, .header h3, .header h4, .header h5, .header h6 {
    color: #FFFFFF;
}
.footer h3 {
    color: #FFFFFF;
}
.logo h1 {
    color: #FFFFFF;
    font-size: 2.7em;
    font-style: italic;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
}
.block0, .block1, .block34, .block23, .block2, .block3, .block4, .block5, .block6, .block8 {
    background: none repeat scroll 0 0 transparent;
    float: left;
}
.block0 {
    margin: 0;
    padding: 0;
    width: 100%;
}
.block1 {
    margin: 0;
    padding: 5px 0 0;
    width: 98%;
}
.block34 {
    margin: 0;
    padding: 0;
    width: 610px;
}
.block23 {
    width: 64%;
}
.block2 {
    width: 47%;
}
.block3 {
    width: 30%;
}
.block4 {
    margin: 0;
    padding: 0;
    width: 21.5%;
}
.block5 {
    margin: 0;
    padding: 0;
    width: 16.4%;
}
.block6 {
    width: 13%;
}
.block8 {
    width: 8.75%;
}
.main .border, .main .moduletable {
    border: medium none;
}
.main .moduletable {
}
.buttonheading {
    margin: 0;
    padding: 0;
}
.subheader {
    background-color: #191C20;
    border-top: 1px solid #2A3038;
    display: block;
    margin: -30px auto 0;
    opacity: 0.9;
    position: relative;
    width: 887px;
}
.lastblock {
    margin-right: 0;
}
.nopadding {
    padding: 0;
}
.nomargin {
    margin: 0;
}
.floatright {
    float: right;
}
.floatleft {
    float: left;
}
.lineheight {
    line-height: 1em;
}
.topmenu {
    float: left;
    margin: 0 0 0 20px;
    padding: 16px 0 16px 20px;
    position: relative;
    width: 487px;
    z-index: 100000;
}
.topmenu ul {
    float: left;
    width: auto;
}
.topmenu ul li a:link, .topmenu ul li a:visited {
    border-bottom: medium none;
    color: #393939;
    display: block;
    margin: 0 0 0 15px;
    padding: 2px 8px;
    text-decoration: none;
}
.topmenu ul li a:hover {
    color: #004896;
}
.topmenu ul li#current a:link, .topmenu ul li#current a:visited, ul#nav li ul li a:link, ul#nav li ul li a:visited, ul#nav li.active ul li a:link, ul#nav li.active ul li a:visited {
    color: #004896;
}
.topmenu ul li#current a:hover, ul#nav li.active ul li a:hover, ul#nav li ul li a:hover {
    color: #004896;
}
.main ul.menu {
    margin: 10px 0;
    padding: 0;
}
.main ul.menu li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.main ul.menu li a:link, .main ul.menu li a:visited {
    display: block;
    padding: 8px 0;
}
.main ul.menu li a:hover {
    color: #F18123;
}
.left_block, .right_block {
    padding-top: 0;
}
.right_header {
    margin: 20px 0 0;
}
img.download_button {
    float: left;
    margin: 20px 0 0;
}
ul#nav li ul {
    display: none;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 22px;
    z-index: 1000;
}
ul#nav li ul li ul {
    display: none;
    left: 10.8em;
    margin: 0 0 0 10px;
    padding: 0;
    position: absolute;
    top: 0;
    z-index: 1000;
}
ul#nav li ul li a:link, ul#nav li ul li a:visited, .topmenu ul#nav li.active ul li a:link, .topmenu ul#nav li.active ul li a:visited {
    background-color: #2B3137;
    background-image: url("../images/bg.png");
    background-repeat: repeat-x;
    border-bottom: 1px solid #1F2327;
    border-top: medium none;
    display: block;
    padding: 2px 8px;
    width: 10em;
}
ul#nav li ul li a:hover, ul#nav li.active ul li a:hover, ul#nav li#current ul li a:hover {
    background-color: #C24622;
    background-image: none;
    border-bottom: 1px solid #C26222;
    color: #FFFFFF;
}
.search {
    float: right;
    margin-top: 8px;
    padding-right: 40px;
    width: 200px;
}
.search input {
    background-color: #F7BA6B;
    border-color: #C17618;
    border-style: solid;
    border-width: 1px;
    color: #393939;
    margin-right: 3px;
    margin-top: 0;
    padding: 3px;
}
.inputbox {
    float: left;
    height: 20px;
    margin-top: -8px;
    padding-top: 8px;
}
.button {
    float: left;
    height: 28px;
}
.jFlowPrev {
    top: 260px;
}
.jFlowNext {
    top: 260px;
}
img.icon {
    float: right;
    height: 48px;
    margin: 0 20px 20px;
    width: 48px;
}
.moduletable_leftmenu a:link, .moduletable_leftmenu a:visited {
    color: #004896;
}
.moduletable_leftmenu a:hover, .moduletable_leftmenu ul.menu li.active a {
    color: #FF9900;
}
.Blue {
    color: #224B95;
}
.Orange {
    color: #EE7F10;
}
.moduletable_credits {
    color: #FFFFFF;
    margin: 0 auto;
    width: 900px;
}
div.moduletable_news {
    background-color: #E8E9E2;
    border-radius: 10px 10px 10px 10px;
    color: #555555;
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 10px;
    width: 250px;
}
table.moduletable_news {
    color: #555555;
    height: 260px;
    margin-left: 10px;
    width: 250px;
}
.moduletable_news h3, .moduletable_newsletter h3 {
    color: #004896 !important;
}
.moduletable_news ul.latestnews_news {
    list-style-type: none;
    margin-top: 10px;
    padding-bottom: 15px;
}
.moduletable_news ul.latestnews_news li {
    border-bottom: 1px dotted #555555;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.moduletable_news ul.latestnews_news li a {
    color: #555555;
}
.moduletable_newsletter {
    background-color: #D1DEEC;
    border-radius: 10px 10px 10px 10px;
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
    padding: 7px 7px 7px 15px;
    width: 228px;
}
.moduletable_inthenews {
    background-color: #F3C17F;
    border-radius: 10px 10px 10px 10px;
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
    padding: 7px 7px 7px 15px;
    width: 228px;
}
.moduletable_newsletter h3, .moduletable_inthenews h3 {
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 5px;
}
.moduletable_newsletter a {
    color: #000000;
}
.moduletable_inthenews h3 {
    color: #C24622 !important;
}
span.label, span.spacer, span.multiple span {
    float: left;
    width: 120px;
}
span.multiple {
    float: left;
    padding-bottom: 7px;
}
span.button {
    padding-left: 120px;
}
div.clear {
    clear: both;
    padding-top: 5px;
}

